    <div class="top_chat">
    /* test */
     <p>
     トップチャット
     </p>
     /* test_end */
    </div>
    <div class="center_chat">
    /* test */
    <p>
    センターチャット
    </p>
    /* test_end */
    </div>
    <div class="bottom_chat">
    /* test */
    <p>
    ボトムチャット
    </p>
    /* test_end */
    </div>