 <div class="top_side_bar">
  <a class="user_name" href="">Murakichi</a>
  <a class="chat_btn" href="">チャットを作成する</a>
 </div>
 <div class="bottom_side_bar">
   <a class="room_name" href="">Test1</a>
   <a class="room_name" href="">Test2</a>
 </div>