<div class="side_bar_header">
  <div class="side_bar_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="chat_btn">
    <a href="">チャットを作成する</a>
  </div>
</div>
<div class="bottom_side_bar">
  <a class="room_name" href="">Test1</a>
  <a class="room_name" href="">Test2</a>
 </div>